.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.World{
  display: flex;
}

.world-tile {
  width: 15px;
  height:15px;
}

.world-row {
  display: flex;
}

.stone-tile{
  background: gray
}

.gold-tile{
  background: gold;
}

.food-tile{
  background: red;
}

.water-tile{
  background: aqua;
}

.land-tile{
  background: green;
}

.wood-tile{
  background: brown;
}

.villager-tile{
  background: green;
}

.dude{
  border-radius: 50px;
  background-color: orange;
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
